* {
    margin: 0;
    padding: 0;
}

#canvas {
    margin-top: 20px;
}

.game {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.background-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: grey;
    border-radius: 100% 0 0 0;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
}

.quarter1 {
    top: 0;
    left: 0;
    background-color: darkgreen;
    border-radius: 100% 0 0 0;
}

.quarter2 {
    top: 0;
    right: 0;
    background-color: darkred;
    border-radius: 0 100% 0 0;
}

.quarter3 {
    bottom: 0;
    left: 0;
    background-color: darkorange;
    border-radius: 0 0 0 100%;
}

.quarter4 {
    bottom: 0;
    right: 0;
    background-color: darkblue;
    border-radius: 0 0 100% 0;
}

.cutout {
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    pointer-events: none;
}

.game-panel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.button {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
    color: #926239;
    border: #926239 1px solid;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 1px #4d4d4d;
}

.button:hover {
    background-color: #4d4d4d;
}

.start-on {
    background-color: green;
}

.start-off {
    background-color: white;
}

.elements {
    margin: 10px;
}